@model Student

@{
    ViewData["Title"] = "Delete Student";
}

<h2 class="text-danger">Delete Student</h2>

<h4 class="text-danger">Are you sure you want to delete this student?</h4>

<hr />

<div class="card p-3">
    <p class="text-danger"><strong>Name:</strong> @Model.Name</p>
    <p class="text-danger"><strong>Age:</strong> @Model.Age</p>
    <p class="text-danger"><strong>Department:</strong> @Model.dept?.Name</p>
</div>

<br />

<form method="post" asp-controller="Student" asp-action="ConfirmDelete" asp-route-id="@Model.Id">

    @* <!-- Hidden ID -->
    <input type="hidden" asp-for="Id" /> *@

    <button type="submit" class="btn btn-danger">Delete</button>

    <a asp-controller="Student" asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>